.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://res.cloudinary.com/donihqmom/image/upload/v1694755842/super_jwqa7m.png");
}
